.posts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
}
