.card-comentario {
  display: block;
  background: rgb(202, 230, 244);
  padding: 24px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 16px;
}

.card-comentario h1 {
  color: #fff;
}

.card-comentario p {
  color: rgb(161, 159, 159);
  line-height: 21px;
  font-size: 16px;
}
