.container-posts {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 100%;
  margin-bottom: 20px;
}

.container-posts .card-post {
  display: block;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 16px;
}

.container-posts .card-post h1 {
  color: #41414d;
}

.container-posts .card-post p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}

.container-posts .card-post .likes-post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
}

.container-posts .card-post .button-post {
  display: block;
  width: 100px;
  height: 30px;
  border: 1px solid white;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.15s;
  background-color: transparent;
  border-radius: 20px;
}

.form-comentario-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

.form-comentario-container section.form form {
  margin-top: 100px;
}

.form-comentario-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

.form-comentario-container section.form form input {
  margin-top: 8px;
}
